.navbar{
    width: 100%;
    height: 72px;
    /* background-color: #fdf6ec; */
    border-bottom: 5px solid #fdf6ec;
}
.navbar_left{
    float: left;
    text-align: center;
    line-height: 72px;
    height: 72px;
}
.mainlogo{
    height: 72px;
}
.mainlogo img{
    height: 72px;
    width: 180px;
}

/* 드롭다운 상단 메뉴  */
.dropdownmenu a{
    color: black;
    font-family: 'ROKAFSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.dropdownmenu{
    display: flex;
}
.dropdownmenu .nav_dropdownmenu1{
    position: relative;
    margin: 0 30px ;
    height: 72px;
    text-align: left;
    cursor: pointer;
}
.dropdownmenu .nav_dropdownmenu2 li{
    top: 120px;
    width: 140px;
    text-align: center;
    background-color: #fdf6ec;
}
.dropdownmenu .nav_dropdownmenu1 .nav_item{
	cursor:pointer;
}
.nav_dropdownmenu2 li a{
    font-family: 'SF_HailSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.nav_dropdownmenu2{
    display: none;
}
.dropdownmenu .nav_dropdownmenu1 li:hover .nav_dropdownmenu2{
    top: 72px;
    left: 0;
    position: absolute;
    display: flex; 
    flex-direction: column;
    margin: 0;
}

/* 상단메뉴 오른쪽  */
.navbar_right{
    float: right;
}
.navbar_right input, .navbar_right a{
    margin: 0 25px;
}
.navbar_right a{
    line-height: 72px;
    color: black;
    font-family: 'ROKAFSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}