.bodyrvb{
    width: 100%;
    /* display: flex; */
}
/* 맨 위 배너  */
.main1_contentrvb{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 600px;
}
.main1_contentrvb .main1_left{
    background-color: #e9e8e8;
    float: left;
    width: 40%;
    height: 600px;
    align-items: center;
    cursor: pointer;
}
.main1_contentrvb .main1_left .main1_leftword1{
    font-size: 60px;
    margin-top: 130px;
    text-align: center;
    color: #535353;
}
.main1_contentrvb .main1_left .main1_leftword2{
    font-size: 60px;
    margin-top: 80px;
    text-align: center;
    color: #535353;
}
.main1_contentrvb .main1_left .main1_leftword2:hover{
    color: black;
}
.main1_contentrvb .main1_left .main1_leftword1:hover{
    color: black;
}
.main1_contentrvb .main1_left .main1_button1 p{
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 80px;
}
.main1_contentrvb .main1_left .main1_button1 p:hover{
    text-decoration:underline;
    text-decoration-color: #f8ce93;
}
.main1_contentrvb .main1_left .main1_button2 p{
    font-size: 30px;
    color: black;
    text-align: center;
    margin-top: 40px;
}
.main1_contentrvb .main1_left .main1_button2 p:hover{
    text-decoration: underline;
    text-decoration-color: #f8ce93;
}
.main1_contentrvb .main1_right{
    float: right;
    width: 60%;
    height: 600px;
}
.main1_contentrvb .main1_right img{
    float: right;
    width: 100%;
    height: 600px;
}
/* 맨 위 배너 하단 중간 내용 1 */
.main2_contentrvb{
    clear: both;
    margin-top: 90px;
    width: 100%;
    height: 1000px;
    align-items: center;

}
.main2_contentrvb .main2_top .main2_top_name{
    font-size: 40px;
    text-align: center;
}
.main2_contentrvb .main2_top .main2_top_content{
    margin-left: 155px;
}
.main2_contentrvb .main2_top .main2_top_content1{
    float: left;
    border: 1px solid black;
    margin: 1px;
    border-radius: 20px;
    width: 600px;
    height: 1000px;
}
.main2_contentrvb .main2_top .main2_top_content2{
    float: left;
    border: 1px solid black;
    border-radius: 20px;
    margin: 1px;
    width: 600px;
    height: 1000px;
}
.main3_contentrvb{
    clear: both;
    margin-top: 120px;
    width: 100%;
    height: 250px;
    align-items: center;
}
.main3_contentrvb .main3_top .main3_top_name{
    text-align: center;
    font-size: 25px;
}
.main3_contentrvb .main3_top .main3_top_content{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    border: 1px solid black;
}

