@charset "UTF-8";
a{
	color:black;
}
.body_adminnotice {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.adminnotice_name {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    border-bottom: 3px solid gray;
}

.adminnotice_name p {
    margin: 10px;
}

.adminnotice_noticecontent {
    width: 90%;
    margin: 20px auto;
    
}

.notice {
    width: 100%;
}

.notice .notice_thead {
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.notice .notice_line {
    font-size: 20px;
    text-align: center;
}

.adminnotice_btn {
    width: 30%;
    margin: 10px auto;
    text-align:center;
}

.adminnotice_btn button {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal; 
    font-style: normal;
    background-color: #9ecdf7;
    border: 1px solid #bed8ea;
    border-radius: 10px;
    font-size: 20px;
}

