@charset "UTF-8";

.bodyrvb {
	width: 80%;
	margin: auto;
	display : flex;
	justify-content: space-around;
	height: auto;
  	min-height: 75%;
  	padding-bottom: 80px;
}

.contentrvb{
	display: flex;
	margin-left: 50px;
}
/* 사이드메뉴  */
.sidemenu {
	width: 200px;
	height : 250px;
	background-color: #eaf4fc;
	display: flex;
	flex-direction: column;
	border: 1px solid #96bff9;
	border-radius: 20px;
	cursor: pointer;
	margin-top: 20px;
}

.sidemenu_cart {
	margin: 20px;
	margin-left: 0px;
}

.sidemenu_cart .sidemenu_item {
	font-family: 'SF_HailSnow';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	text-decoration: none;	
	color:black;
}

.sidemenu_cart li {
	list-style: none;
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	margin-left: 10px;
}

.sidemenu_cart li:hover {
	font-family: 'ROKAFSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	background-color: #b6d4ff;
	border-radius: 30px;
}

.sidemenu_cart .sidemenu_topmenu {
	font-family: 'ROKAFSansBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
}
/* 장바구니 목록 */
.caption{
	 font-size: 2rem;
	 margin-top: 50px;
}
.bookimg {
	margin-top: 10px;
	margin-bottom: 10px;
	width:100px;
	height:160px;
}
.cartlist {
	width: 1000px;
	text-align: center;
	max-width: 1300px;
	font-family: 'SF_HailSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-align: center;
}
.cartlist .cartlist_th{
	width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #eaf4fc;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
}
.cartlist .cartlist_td{
	border-bottom: 1px solid gray;
	font-size: 18px;
    height: 40px;
    line-height: 40px;
    padding-bottom: 10px;
}
.cartlist_td > td{
	vertical-align: middle;
}
.button1 {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    margin-top: 3px;
    background-color: rgb(188, 212, 233);
    border: 1px solid #a9b8c4;
    border-radius: 10px;
    cursor: pointer;
}
/* 푸터 하단고정(스크롤내려도 고정) */
.footerrvb{
	height: 80px;
	position : relative;
  	transform : translateY(-100%);
}

/* 수량변경 */
.btn_cart_update{
	width: 30px;
	height: 30px;
	text-align: center;
}