@charset "UTF-8";
.bodyrvb {
	width: 100%;
	margin: auto;
	display : flex;
}

.contentrvb{
	margin-left: 50px;
	display : flex;
}
/* 사이드메뉴  */
.sidemenu {
	width: 200px;
	height : 250px;
	background-color: #eaf4fc;
	display: flex;
	flex-direction: column;
	border: 1px solid #96bff9;
	border-radius: 20px;
	cursor: pointer;
	margin-left: 20px;
	margin-top: 20px;
}

.sidemenu_mypage {
	margin: 20px;
	margin-left: 0px;
}

.sidemenu_mypage .sidemenu_item {
	font-family: 'SF_HailSnow';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	text-decoration: none;	
	color:black;
}

.sidemenu_mypage li {
	list-style: none;
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	margin-left: 10px;
}

.sidemenu_mypage li:hover {
	font-family: 'ROKAFSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	background-color: #b6d4ff;
	border-radius: 30px;
}

.sidemenu_mypage .sidemenu_topmenu {
	font-family: 'ROKAFSansBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
}


/* 리뷰작성 modal box */
.modal {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(20, 10, 20, 0.3);
}

.modal>.modal_content {
	position: relative;
	top: 50px;
	margin: auto;
	width: 500px;
	background-color: white;
}

/* 별점 */
.star-rating {
	display: flex;
	flex-direction: row-reverse;
	font-size: 1.5em;
	justify-content: space-around;
	padding: 0 .2em;
	text-align: center;
	width: 5em;
}
.star-rating input {
	display: none;
}
#rvContent {
	width: 400px;
    height: 250px;
    resize: none;
}

.star-rating label {
	color: #ccc;
	cursor: pointer;
}

.star-rating :checked ~ label {
	color: #f90;
}

.star-rating label:hover, .star-rating label:hover ~ label {
	color: #fc0;
}


/* 구매목록 */
.buylist {
	max-width: 1300px;
	font-family: 'SF_HailSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-align: center;
}
.buylist .buylist_th{
   border-top: 1px solid gray;
   border-bottom: 1px solid gray;
   background-color: #eaf4fc;
   font-size: 15px;
   height: 30px;
   line-height: 30px;
}
.buylist .buylist_td{
	border-bottom: 1px solid gray;
    height: 20px;
    line-height: 20px;
    padding-bottom: 10px;
}
.buylist_th .buylistname{
    width: 30%;
}
.buylist_th .buylistno{
    width: 10%;
}
.buylist_th .buylistdate{
    width: 35%;
}
.buylist_th .buylistreview{
    width: 25%;
}


/* 마이페이지 웰컴&구독권 조회 */
.mypage_main{
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%);  */
    margin: auto;
    margin-bottom: 50px;
    width:700px;
    height: 300px;
    background:#f5f5f5;
 	padding: 20px 30px; 
    border-radius: 50px;
    box-shadow: 5px 10px 5px #ccc;
}

/* 마이페이지 유저 이미지 */
.mypage_main_image img{
	width: 160px; height : 160px;
	
	
}

/* 마이페이지 내용 flex 정렬 */
.mypage_content_all{
    display: flex;
}

/* 마이페이지 컨텐츠 센터 정렬 */
.mypage_main_content{
	text-align: center;
	padding: 30px;
}

.mypage_main_content>h3{
	padding: 10px;
}

.mypage_main_welcome_title> h2{
	font-size: 1.5rem;
}
/* 마이페이지 컨텐츠 영역 */
.mypage_tab_body{
    margin: auto;

} 

/* 폰트 */
.mypage_main_welcome_title>h2, .mypage_main_content>h3{
	font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
