/* 본문 */
.bodyrvb {
	width: 80%;
	margin: auto;
	display : flex;
}

.contentrvb{
	font-family: 'SF_HailSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    margin: auto;
}

/* 사이드메뉴  */
.sidemenu {
	width: 200px;
	height : 200px;
	background-color: #eaf4fc;
	display: flex;
	flex-direction: column;
	border: 1px solid #96bff9;
	border-radius: 20px;
	cursor: pointer;
}

.sidemenu_subscribe {
	margin: 20px;
	margin-left: 0px;
}

.sidemenu_subscribe .sidemenu_item {
	font-family: 'SF_HailSnow';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	text-decoration: none;	
	color:black;
}

.sidemenu_subscribe li {
	list-style: none;
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	margin-left: 10px;
}

.sidemenu_subscribe li:hover:not(:first-of-type) {
	font-family: 'ROKAFSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	background-color: #b6d4ff;
	border-radius: 30px;
}

.sidemenu_subscribe .sidemenu_topmenu {
	font-family: 'ROKAFSansBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
}

/* 관리자 구독권 화면 */

.adsubscribe_title h1{
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}
#subscribe_member {
	width: 900px;
	text-align: center;
}

#subscribe_member .subscribe_member_th{
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-collapse:collapse;
   background-color: #eaf4fc;
   font-size: 15px;
   height: 30px;
   line-height: 30px;
}

#subscribe_member .subscribe_member_td{
	border-bottom: 1px solid gray;
	border-collapse:collapse;
    height: 20px;
    line-height: 20px;
    padding-bottom: 10px;
}
.subscribe_member_th .subscribeid{
    width: 20%;
}
.subscribe_member_th .subscribetype{
    width: 20%;
}
.subscribe_member_th .subscribestart{
    width: 20%;
}
.subscribe_member_th .subscribeprice{
    width: 20%;
}
.subscribe_member_th .subscribedelete{
    width: 20%;
}
