/* 본문 */
.bodyrvb {
	width: 80%;
	margin: auto;
	display : flex;
}
/* 사이드메뉴  */
.sidemenu {
	width: 200px;
	height: 250px;
	background-color: #eaf4fc;
	display: flex;
	flex-direction: column;
	border: 1px solid #96bff9;
	border-radius: 20px;
	cursor: pointer;
}

.sidemenu_series {
	margin: 20px;
	margin-left: 0px;
}

.sidemenu_series .sidemenu_item {
	font-family: 'SF_HailSnow';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: black;
}

.sidemenu_series li {
	list-style: none;
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	margin-left: 10px;
}

.sidemenu_series li:hover:not(:first-of-type) {
	font-family: 'ROKAFSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	background-color: #b6d4ff;
	border-radius: 30px;
}

.sidemenu_series .sidemenu_topmenu {
	font-family: 'ROKAFSansBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
}

/* 게시글 리스트 테이블 전체 */
.series_board_read_all {
	padding-left:50px;
	margin: 0 auto;
	max-width: 1300px;
}

/* 게시글 제목 */
#series_read_title {
/* 	padding: 50px 0 50px 50px; */
	width: 100%;
	border-bottom: 1px solid gray;
	
}
/* 게시글 제목 h1 */
#series_read_title h1{
	margin:10px;
	font-size:1.5rem;
}

/* 게시글 제목 안 작가,작성시간,카테고리 폰트 */
#series_read_title p {
	margin:10px;
	font-size:1rem;
	font-family: 'SF_HailSnow';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

#series_read_title span {
	margin:10px;
	font-size:1rem;
	font-family: 'SF_HailSnow';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
/* 게시글 내용 */
#series_read_content {
	margin:20px 0 20px 0;
	width: 100%;
	font-family: 'SF_HailSnow';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff')
		format('woff');
	font-weight: normal;
	font-size: 1rem;
	line-height: 200%;
	font-style: normal;
}

/* 이미지 있는 경우 이미지 사이즈 */
#series_read_content img{
	width:400px;
	height: 300px;
	margin: auto;
	display : block;
}
/* 게시글 -> 펀딩 이동 */
#board_read_funding {
	width: 100%;
	background-color: rgba(204, 204, 214, 0.7);
	border-bottom: 1px solid gray;
	font-family: 'SF_HailSnow';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
/* 댓글 */
#board_read_recomment {
	width: 100%;
	margin-top:20px;
	border-bottom: 1px solid gray;
	font-family: 'SF_HailSnow';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.series_board_recomment_all{
	margin-bottom: 20px;
}
/* 댓글 리스트 */

#series_read_comment{
	border-bottom: 1px solid gray;
}

#series_read_comment_rist {
	width: 100%;
	font-family: 'SF_HailSnow';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

#series_read_comment_rist tr td{
	padding: 10px 0 10px 0;
}

/* 댓글 창 크기 */
#board_read_recomment input {
	width: 70%;
	height: 50px;
	margin-bottom : 20px;
	font-family: 'SF_HailSnow';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}



/* 댓글 등록 버튼 크기 */
#board_read_recomment button {
	width: 50px;
	height: 50px;
}

/* 배너 전체 영역 */
.series_banner{
width: 100%;
height: 200px;
display: inline-block;
background-color:  rgb(183, 202, 219,0.7);
margin: 0 0 50px 0;

}
/* 배너 이미지 */
.series_banner_img{
width: 150px;
height: 150px;
float: right;
position: relative;
top : -90px;
}

#series_banner_title{
	padding-left: 50px;
}

/* a태그 텍스트 데코 none */
#series_banner_title a {
	text-decoration: none;
	color: black;
}

a {
	text-decoration: none;
	color: black;
}

/* 별점 */
.star-rating {
	display: flex;
	flex-direction: row-reverse;
	font-size: 1.5em;
	justify-content: space-around;
	padding: 0 .2em;
	text-align: center;
	width: 5em;
}

.star-rating input {
	display: none;
}

.star-rating label {
	color: #ccc;
	cursor: pointer;
}

.star-rating :checked ~ label {
	color: #f90;
}

.star-rating label:hover, .star-rating label:hover ~ label {
	color: #fc0;
}

/* 폰트 */
#series_banner_title>h2 {

	font-size: 2rem;
	margin-top: 40px;
	font-family: 'ROKAFSansBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

#series_banner_title p {
	font-family: 'ROKAFSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

#series_read_title h1 {
	font-family: 'ROKAFSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

.series_board_up_de_btn{
	margin: auto;
	text-align: center;
	display: block;
	margin-bottom: 50px;
}

.series_board_up_de_btn button{
	height: 40px;
	cursor: pointer;
}


.series_board_comment_up_de_btn button{
	margin-top :10px;
	height: 20px;
	cursor: pointer;
}


/* 펀딩 상세정보 모달창 */
.modal {
	display: none;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

/* 펀딩 이동하기 모달창  */
#btn_funding_move{
	width: 100px;
	height: 30px;
	color: white;
}

/* 펀딩 모달창 닫기 */
#btn_funding_close {
	width: 100px;
	height: 30px;
	border: 0;
	
}

/* 펀딩 이동하기 닫기 버튼 정렬 */

.btn_funding_move_close{
	margin: auto;
	text-align: center;
}
#modal_funding_content p{
	padding:10px;
	text-align: center;
	
	
} 
/* 펀딩 모달창 컨텐츠 감싸는부분*/
.modal_content {
	position: relative;
	top: 250px;
	width: 500px;
	height: 270px;
	border: 1px solid;
	margin: 0 auto;
	background-color: white;
}


/* hover시 마우스 클릭 효과 */
#btn_funding:hover, #btn_funding_move:hover, #btn_funding_close:hover, #btn_submit_comment:hover, 
#btn_update_submit_comment:hover, #btn_update_reset:hover {
cursor :pointer;
}

/* 댓글 수정 버튼 안보이게 클릭시 보이게 설정 */
.update_board_comment{
	margin-top: 10px;
	display: none;
}
/* 댓글 수정 크기 창 */
#wbcContent{
	width: 70%;
	height: 50px;
	margin-bottom: 10px;
}

/* 댓글 수정 버튼 */
.btn_board_comment_update{
	font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal; 
    font-style: normal;
    background-color: #9ecdf7;
    border: 1px solid #bed8ea;
    border-radius: 10px;
}


/* 댓글 삭제 버튼 */
.btn_board_comment_delete{
	font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    background-color: #f6e4ca;
    border: 1px solid #eccda2;
    border-radius: 10px;
}

