a{color:black;}
/* 본문 */
.bodyrvb {
	width: 80%;
	margin: 20px auto;
	display : flex;
}

.contentrvb{
	width:80%;
	margin: 20px auto;
}
/* 사이드메뉴  */
.sidemenu {
	width: 200px;
	height : 230px;
	background-color: #eaf4fc;
	display: flex;
	flex-direction: column;
	border: 1px solid #96bff9;
	border-radius: 20px;
	cursor: pointer;
}

.sidemenu_series {
	margin: 20px;
	margin-left: 0px;
}
.sidemenu_series .sidemenu_topmenu {
	font-family: 'ROKAFSansBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
	cursor:default;
}
.sidemenu_series .sidemenu_item {
	margin:20px;
	font-family: 'SF_HailSnow';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	text-decoration: none;	
	color:black;
}
.sidemenu_series .sidemenu_topmenu {
	font-family: 'ROKAFSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	border-radius: 30px;
}
.sidemenu_series .sidemenu_nowmenu {
	font-family: 'SF_HailSnow';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	border-bottom:3px solid #b6d4ff;
}
.sidemenu_series .sidemenu_menu:hover {
	font-family: 'ROKAFSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	font-size:18px;
	background-color: #b6d4ff;
	border-radius: 30px;
}
.sidemenu_series .sidemenu_item {
	list-style: none;
	width: 150px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	margin-left: 10px;
}


.sidemenu_series .sidemenu_topmenu {
	font-family: 'ROKAFSansBold';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
	font-size: 20px;
}

#series_insert_content{
	width:100%;
	margin:10px auto;
}
/* 게시물 작성 테이블 전체 */
#series_insert{
	width:100%;
	padding-left:50px;
    margin: 10px auto;
}
#series_insert , #series_insert input ,  #wbCategory, #series_insert textarea{
    font-family: 'SF_HailSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 테이블 정렬 */
#series_insert td{
	padding-right: 30px;
	vertical-align : middle;
}


/* 카테고리 */
#wbCategory{
    width: 100px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 10px;
}
/* 제목 */
#wbTitle{
    width: 700px;
    height: 30px;
    font-size: 1rem;
    margin-bottom: 10px;
}
/* 내용 */
 #wbContent{
    resize: none;
    font-size: 1rem;
    margin-bottom: 10px;

} 
/* ckediter api */
#cke_wbContent{
	margin-bottom: 30px;
	font-family: 'SF_HailSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 버튼정렬 */
#series_insert_btn {
	padding-left:50px;
	margin: auto;
	margin-top: 50px;
}
#insert_btn, #insert_reset_btn{

    margin: 0 auto;
    text-align: center;
    height: 40px;
    cursor: pointer;
}


/* 배너 전체 영역 */
.series_banner{
width: 100%;
height: 250px;
display: inline-block;
background-color:  rgb(183, 202, 219,0.7);
margin: 0 0 50px 0;

}
/* 배너 이미지 */
.series_banner_img{
width: 200px;
height: 200px;
float: right;
position: relative;
top : -140px;
}
* a태그 텍스트 데코 none */
#series_banner_title a{
	text-decoration: none;	
	color:black;
}

.bbs_board a{
	text-decoration: none;	
	color:black;	
}

/* 배너  */
#series_banner_title{
	padding-left: 50px;
}
/* 폰트 */
#series_banner_title p{
	font-family: 'ROKAFSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#series_banner_title>h2{
	font-size: 2rem;
	margin-top: 40px;
}

#series_banner_title>h2, .series_main_writer_title>h2, .series_main_content>h3{
	font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
