.signup_body3 {
    width: 80%;
    margin: 0 auto;
}

.sidemenu {
    width: 200px;
    margin: 20px;
    text-align: left;
    background-color: #eaf4fc;
    display: flex;
    flex-direction: column;
    border: 1px solid #96bff9;
    border-radius: 20px;
    cursor: pointer;
    float: left;
}

.sidemenu_signup3 {
    margin: 20px;
}

.sidemenu_signup3 .sidemenu_item {
    font-family: 'SF_HailSnow';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.sidemenu_signup3 li {
    width: 150px;
    height: 30px;
    line-height: 30px;
}

.sidemenu_signup3 .signupuser_final {
    font-family: 'ROKAFSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    background-color: #b6d4ff;
    border-radius: 30px;
}

.sidemenu_signup3 .sidemenu_topmenu {
    font-family: 'ROKAFSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts2201-3@1.0/ROKAFSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}
/* 내용  */
.signupuser_final_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    border: 3px solid #f2e2ca;
    border-radius: 20px;
}
.signupuser_final_left{
    display: flex;
    flex-direction: column;
    width: 60%;
    cursor:default;
    text-align: center;
}
.signupuser_final_left p{
   font-size: 60px;
   line-height: 100px;
   margin-top: 20px;
}
.signupuser_final_right{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}
.signupuser_final_right .signupuser_final_link{
    color: black;
    font-weight: normal;
    font-style: normal;
    background-color: #a8d4fb;
    border: 2px solid #209ef9;
    width: 300px;
    height: 40px;
    line-height: 35px;
    border-radius: 30px;
    margin: 20px;
    font-size: 20px;
}
.signupuser_final_right .fontevent{
    margin-top: 5px;
    font-size: 30px;
}
.signupuser_final_right .signupuser_final_link:hover{
    background-color: #55a9f3;
    border: 1px solid #accfe8;
}